* {
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  box-sizing: border-box;
}

.form {
  border: 1px solid black;
  width: 100vw;
  height: 30vh;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start; 
  margin: auto;
  padding: 0;   
 }
.menu {
  justify-content: flex-start; 
  display: flex; 
  margin: 1.5em;
}
.block, .blockOk  {
  width: 20vw;
  height: 15vh;
  margin: 1em;
  padding: 0;
  display: flex; 
  justify-content: flex-start; 
  flex-direction: column; 
}

.interiorBlock, .ok {
  border: 1px solid black;
  border-radius: 1em;
  width: 20vw;
  height: 7vh;  
  display: flex; 
  justify-content: center;
}

.blockOk {
  margin-top: 1.5em;
  align-items: center;
}

.ok {
  margin-top: 2.5em;
  width: 15vw;
  display: flex; 
  justify-content: center; 
}

.feature {
  width: 65vw;
  height: 40vh;  
  display: flex; 
  margin: 1em;
  justify-content: flex-start; 
  flex-direction: column; 

}

.head > li, .content > li {
  display: inline; 
  margin: 0;
}

.head, .content {
  display: flex; 
  justify-content: space-around;
}

.head > li {
  font-weight: bold;
}

input, button {
  border: none;
  text-align: center;
  background: transparent;
}

input:focus, button:focus {
  outline: none; 
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}
.contentBlock {
  display: inline-block;
  border: 1px solid black;
  border-radius: 2em;
  width: 65vw; 
  height: auto; 
  padding: 1em;
}

