.list-item {
  list-style-type: none;
  padding: 0.5rem;
  font-size: 2rem;
  margin: 0 1rem;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  cursor: pointer;
}

a {
  display:block;
  color: #000 !important;
  text-decoration: none; 
}