.App {
  text-align: center;
}

.block {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 3px solid gray;
  width: 35vw;
  min-width: 260px;
  min-height: 130px;
  background-color: #e8eaed;
  box-sizing: border-box;
}

.create {
  width: 98%;
  height: 2vw;
  min-height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffffff;
  margin: 10px 5px;
  box-sizing: border-box;
}

button {
  background-color: #4469ae;
  color: #ffffff;
  height: 22px;
  margin-right: 2px;
}

.content {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  width: 98%;
  height: 3vw;
  margin: 0 5px;
  min-width: 200px;
  min-height: 50px;
  box-sizing: border-box;
}
.head-content {
  padding: 1px 5px;

}

img {
  border-radius: 50%;
  margin: 1px 5px;
  height: 45px;
  width: 45px;
}

.text-content {
  margin: 10px 2px;
  padding: 0;
  width: 100%;
}

h4 {
  margin: 0.5em;
  line-height: 0.4;
  color: #4469ae;
}

.text-content > p {
  margin: 0.5em 0.7em;
  line-height: 0.5;
  font-size: 0.6em;
}

.article {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 5px 5px;
  background-color: #ffffff;
  justify-content: flex-start;
  width: 98%;
  min-width: 200px;
  margin: 0 5px;
  box-sizing: border-box;
}