form {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  margin: 3em;
}
input {
  margin: 0 1em;
}

.watches {
  border: 2px solid black;
  width: 20vw;
  margin: 3em;
  display: flex;
  flex-wrap: wrap; 
  flex-direction: column;
}

.delete {
  margin-top: 1em;
  width: 20%;
  color: red;
}
