.form {
  display: flex;
  flex-direction:column;
  width: 40vw;
  margin: 3em;
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.note-container {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  font-size: 2rem;
  margin: 1rem;
  border: 1px solid black;
}

.note {
  padding: 1rem;
  min-width: 20rem;
  min-height: 20rem;
  overflow-wrap: break-word;
}

.note-close {
  text-align: right;
  padding: 1rem;
  cursor: pointer;
}